---
import PageLayout from "../layouts/PageLayout.astro";

const title = "About";
---

<PageLayout title={title}>
  <h1>{title}</h1>
  <p>
    Bazaar is a built by developers tired of running costs. Our intention is to
    provide a powerful backendless service to make single-page-apps fun to
    build, all without having to worry about running costs.
  </p>
</PageLayout>
