---
import BaseLayout from "../layouts/BaseLayout.astro";
import BigTitle from "../components/BigTitle.astro";

const title = "Pricing";
---

<BaseLayout title={title}>
  <BigTitle>One platform, many apps, your data.</BigTitle>
  <p>TODO: add yearly option for 20% off</p>

  <div class="mx-auto grid max-w-screen-2xl gap-4 px-4 py-8 lg:grid-cols-2">
    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Free</h2>
        <h4>$0</h4>
        <div class="card-actions">
          <a href="https://cloud.bzr.dev/login" class="btn btn-primary">
            Sign Up
          </a>
        </div>
        <div>
          <p class="font-bold">&nbsp</p>
          <p class="italic">User benefits</p>
          <ul class="list-inside list-disc">
            <li>Use any Bazaar application</li>
            <li>Control over all your data</li>
            <li>100MB of application storage</li>
            <li>100'000 API calls</li>
          </ul>

          <p class="italic">Developer benefits</p>
          <ul class="list-inside list-disc">
            <li>Create unlimited applications</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Pro</h2>
        <h4>$5 per user/month</h4>
        <div class="card-actions">
          <a href="https://cloud.bzr.dev/login" class="btn btn-primary">
            Get Started
          </a>
        </div>
        <div>
          <p class="font-bold">Everything in Free +</p>
          <p class="italic">User benefits</p>
          <ul class="list-inside list-disc">
            <li>5GB of application storage</li>
            <li>500'000 API calls</li>
          </ul>
          <p class="italic">Developer benefits</p>
          <ul class="list-inside list-disc">
            <li>Use the subscription API</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Business</h2>
        <h4>$15 per user/month</h4>
        <div class="card-actions">
          <a href="https://cloud.bzr.dev/login" class="btn btn-primary">
            Get Started
          </a>
        </div>
        <div>
          <p class="font-bold">Everything in Pro +</p>
          <p class="italic">Organization benefits</p>
          <ul class="list-inside list-disc">
            <li>SAML SSO</li>
            <li>Create teams</li>
            <li>10GB of team application storage</li>
          </ul>
          <p class="italic">User benefits</p>
          <ul class="list-inside list-disc">
            <li>10GB of application storage</li>
            <li>1M API calls</li>
          </ul>
          <p class="italic">Developer benefits</p>
          <ul class="list-inside list-disc">
            <li>Team collaboration</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Enterprise</h2>
        <h4>Lets talk icon</h4>
        <div class="card-actions">
          <a href="https://www.bzr.dev/contact-sales" class="btn btn-primary">
            Contact Sales
          </a>
        </div>
        <div>
          <p class="font-bold">Everything in Business +</p>
          <p class="italic">Organization benefits</p>
          <ul class="list-inside list-disc">
            <li>User provisioning (SCIM)</li>
            <li>Dedicated Manager</li>
            <li>25GB of team application storage</li>
          </ul>
          <p class="italic">User benefits</p>
          <ul class="list-inside list-disc">
            <li>25GB of application storage</li>
            <li>2M API calls</li>
          </ul>
          <p class="italic">Developer benefits</p>
          <ul class="list-inside list-disc">
            <li>Dedicated Support</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h1 class="py-16 text-center text-4xl font-bold">Add-Ons</h1>

  <div class="card w-full bg-base-200 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Additional storage</h2>
      <h4>$5 per 10GB</h4>
      <div class="card-actions">
        <a href="https://cloud.bzr.dev/login" class="btn btn-primary">
          Get Started
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
