---
import BuilderPlanCard from "../components/BuilderPlanCard.astro";
import BusinessPlanCard from "../components/BusinessPlanCard.astro";
import ProPlanCard from "../components/ProPlanCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Pricing";
---

<BaseLayout title={title}>
  <div class="hero">
    <div class="hero-content py-16 text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">
          One platform, many apps, your data.
        </h1>
        <p class="mb-5">
          Explore flexible pricing that scales with your needs.
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-6xl px-4">
    <h2 class="mb-12 text-center text-4xl font-bold">Individuals</h2>
    <div
      class="mb-24 grid grid-cols-1 justify-items-center gap-12 md:grid-cols-3 [&>div]:w-full [&>div]:max-w-[448px]"
    >
      <div class="card flex-col justify-between border p-4">
        <div>
          <div class="rounded bg-neutral p-6">
            <h3 class="font-bold">Free</h3>
            <div class="font-bold">
              <span id="price" class="text-5xl">$0</span>
            </div>
          </div>
          <div class="px-4 py-8">
            <!-- <div class="pb-2 font-bold">User benefits:</div> -->
            <ul class="mb-4 list-inside list-disc">
              <li>Use any Bazaar application</li>
              <li>Control over all your data</li>
              <li>100MB of storage</li>
              <li>100'000 API calls</li>
            </ul>
            <div class="pb-2 font-bold">Developer benefits:</div>
            <ul class="list-inside list-disc">
              <li>Create unlimited applications</li>
            </ul>
          </div>
        </div>
        <a href="https://cloud.bzr.dev/login" class="btn btn-outline btn-block">
          Sign Up
        </a>
      </div>
      <ProPlanCard />
      <BuilderPlanCard />
    </div>

    <h2 class="mb-12 text-center text-4xl font-bold">Organizations</h2>
    <div
      class="mb-24 grid grid-cols-1 justify-items-center gap-12 md:grid-cols-2 [&>div]:w-full [&>div]:max-w-[448px]"
    >
      <BusinessPlanCard />
      <div class="card flex-col justify-between border p-4">
        <div>
          <div class="rounded bg-neutral p-6">
            <h3 class="font-bold">Enterprise</h3>
            <div>
              Talk to us for a comprehensive solution that meets all your
              enterprise needs.
            </div>
          </div>
          <div class="px-4 py-8">
            <div class="pb-2 italic">Everything in Business +</div>
            <!-- <div class="pb-2 font-bold">Organization benefits:</div> -->
            <ul class="mb-4 list-inside list-disc">
              <li>SAML SSO & user provisioning (SCIM)</li>
              <li>Create teams within organization</li>
              <li>Dedicated manager & support</li>
              <li>Custom organizational storage</li>
            </ul>
            <div class="pb-2 font-bold">Member benefits:</div>
            <ul class="mb-4 list-inside list-disc">
              <li>Custom storage</li>
              <li>Custom API call quota</li>
            </ul>
            <!-- <div class="pb-2 font-bold">Developer benefits:</div>
            <ul class="list-inside list-disc">
              <li>Dedicated Support</li>
            </ul> -->
          </div>
        </div>
        <a href="https://cloud.bzr.dev/login" class="btn btn-outline btn-block">
          Talk to Sales
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
