---
export const serviceName = import.meta.env.PUBLIC_SERVICE_NAME;
---

<a href="/" class="text-xl font-bold text-base-content">{serviceName}</a>&nbsp;
<a href="/docs" class="text-xl font-bold text-primary">Docs</a>
