---
import KoreroSVG from "./KoreroSVG.astro";
---

<div class="px-4 pb-28">
  <h2 class="pb-4 text-center text-4xl font-bold">Built with Bazaar</h2>
  <div
    class="mx-auto grid max-w-screen-2xl items-center justify-items-center gap-4 px-4 py-20 text-center md:grid-cols-2 lg:grid-cols-3"
  >
    <div class="text-center">
      <a href="https://koreroapp.com/" target="_blank">
        <KoreroSVG slot="icon" className="w-[150px] fill-white" />
      </a>
    </div>
    <div>
      <a href="https://koreroapp.com/" target="_blank">
        <KoreroSVG slot="icon" className="w-[150px] fill-white" />
      </a>
    </div>
    <div>
      <a href="https://koreroapp.com/" target="_blank">
        <KoreroSVG slot="icon" className="w-[150px] fill-white" />
      </a>
    </div>
  </div>
</div>
