---
import { type CollectionEntry } from "astro:content";
import FeatureIcon from "./FeatureIcon.astro";

interface Props {
  feature: CollectionEntry<"features">;
}

const { feature } = Astro.props;

const { Content } = await feature.render();
---

<FeatureIcon slug={feature.slug} className="card-svg" />
<h2 id={feature.slug}>{feature.data.title}</h2>
<div class="pb-24">
  <Content />
</div>
