<div class="hero">
  <!-- style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);" -->
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content py-28 text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Build With Ease, Run Cost-Free</h1>
      <p class="mb-5">
        Bring your apps to life with zero running-costs. RethinkID provides
        authentication, document-orientated databases with realtime
        capabilities, a powerful Sharing API, and more.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
