<ul class="flex [&>li]:mx-2">
  <li><a class="btn btn-ghost btn-sm" href="/contact">Contact</a></li>
  <li>
    <a class="btn btn-outline btn-sm" href="https://cloud.bzr.dev/login"
      >Log In</a
    >
  </li>
  <li>
    <a class="btn btn-primary btn-sm" href="https://cloud.bzr.dev/login"
      >Sign Up</a
    >
  </li>
</ul>
