---
import UserSVG from "./UserSVG.astro";
---

<ul class="flex items-center [&>li]:mx-2">
  <li>
    <a href="https://cloud.bzr.dev">
      <span class="sr-only">Log in or go to the Bazaar dashboard</span>
      <UserSVG width="16px" />
    </a>
  </li>
  <li>
    <a
      class="btn btn-primary btn-sm whitespace-nowrap"
      href="https://cloud.bzr.dev/login"
    >
      Sign In
    </a>
  </li>
</ul>
